# Python caches
__pycache__/
*.py[cod]
*.pyc

# Databases
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env
.env.*
**/.env

# Virtual environments
venv/

# Node modules (frontend)
node_modules/
